<h1>
    Presenze Studenti
</h1>
<div class="agenda">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered" ng-show="agenda.length">
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Cognome e Nome</th>
                    <th>Presenze</th>
                </tr>
            </thead>
            <tbody ng-repeat="student in students">
                <!-- Single event in a single day -->
                <tr ng-if="student.presences.length <= 1">
                    <td class="agenda-date" class="active" colspan="{{ student.presences.length?1:3  }}">
                        {{ student.matr | number }}
                    </td>
                    <td ng-if="student.presences.length<= 1" class="agenda-time">
                        {{ student.surname }} {{ student.name }} 
                    </td>
                    <td ng-if="student.presences.length" class="agenda-events">
                        <div class="agenda-event">
                            {{ student.presences[0].title }} 
                            {{ student.presences[0].hours | number }} 
                            {{ student.presences[0].description }}
                            <div class="text-right">
                                <button class="btn btn-sm btn-info"  ng-click="showPresence($index, 0)">Modifica</button>
                                <button class="btn btn-sm btn-danger" ng-click="deletePresence($index, 0)">Cancella</button>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="student.presences.length > 1" ng-repeat="presence in student.presences">
                    <td class="agenda-date" class="active" rowspan="{{ student.presences.length }}" ng-if="$index == 0">
                       {{student.matr}}
                    </td>
                    <td class="agenda-time">
                        {{student.name}}{{student.surname}}
                    </td>
                    <td class="agenda-events">
                        <div class="agenda-event">
                            {{ presence.title }} <span ng-show="presence.hours">-</span>
                            {{ presence.hours }} <span ng-show="presence.description">-</span>
                            {{ presence.description }}
                            <div class="text-right">
                                <button class="btn btn-sm btn-info"  ng-click="showPresence($parent.$index, $index)">Modifica</button>
                                <button class="btn btn-sm btn-danger" ng-click="deletePresence($parent.$index, $index)">Cancella</button>
                          </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     
    <h2>FORM DI CREAZIONE E MODIFICA DATA DI CALENDARIO</h2>
</div>